*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}
.forgotp{
    background-color: #1A191C;
    width: 50%;
    padding: 8rem;
    padding-top: 15rem;
}
h2{
    margin-bottom: 8rem;
    font-size: 2.5rem;
    color: white;
    font-weight: 900;
    letter-spacing: 0.18rem;
}
.forgotform{
    display: flex;
    flex-direction: column;
}
@media (max-width:1079px){
    .forgotp{
        background-color: #1A191C;
        width: 100%;
        padding-bottom: 17rem;
        
    }
    h2{
        margin-bottom: 2rem;
        font-size: 1.6rem;
        color: white;
        font-weight: 400;
        letter-spacing:initial;
    }
}